.allCart {
  background-color: white;
  margin: 30px auto 0;
  width: 800px;
  height: auto;
  border-radius: 30px;
  padding-bottom: 50px;
}

.allCart h1 {
  text-align: center;
  color: black;
  padding-top: 10px;
}

.content-cart {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin: auto;
  width: 70%;
  margin-top: 50px;
  padding: 30px;
  border-radius: 10px;
  box-sizing: 1px 1px 20px 1px #878787;
}

.content-cart p {
  background-color: #d1d1d1;
  color: black;
  text-align: center;
  padding: 10px 25px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.content__btns {
  display: flex;
  flex-direction: column;
}

.btnCart {
  background-color: black;
  color: white;
  width: 25%;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 550;
  cursor: pointer;
}

.btnCart:hover {
  background-color: white;
  color: black;
  box-shadow: 1px 0px 20px 1px rgb(133, 133, 133);
}

#finishCart:hover {
  background-color: green;
}

/* MOBILE */

@media screen and (max-width: 1056px) {
  .allCart {
    width: 80%;
    height: auto;
    padding-bottom: 50px;
  }

  .content-cart {
    margin-top: 30px;
  }

  .btnCart {
    width: auto;
  }
}
